/** Custom formatting for Skald UI */

.skald-input { /* Displayed input from the user. */
	font-weight: bold;
	margin: 0em 1.5em;
	font-size: 12pt;
}
.skald-input-disabled {
	font-weight: bold;
	color: #999999;
	margin: 0em 1.5em;
	font-size: 12pt;
}

.skald-response {  /* A response from the server. */	
	margin: 0em 1.5em;
	font-size: 12pt;
}
.skald-response A {
	text-decoration: none;
}

.skald-response-disabled {
	color: #999999;
	margin: 0em 1.5em;
	font-size: 12pt;
}
.skald-response-disabled A {
	text-decoration: none;
	color: #999999;
}

.skald-statusBar {
	background-color: #f0f0f0;
	color: #000000;
	height: 1.5em;
	border: 1px solid #999999;
}

.skald-statusBar-error {
	color: #660000;
}



